---
import SVG from '@components/StyledSVG.astro';
import BasicPageLayout from '@layouts/BasicPageLayout.astro';
import SplashDecoration from '@components/SplashDecoration';
import Menu from '@components/Menu';
import { theme } from '@root/tailwind.config';

import codeGif from '@images/code.gif';
import blogGif from '@images/blog.gif';
import squiggleGif from '@images/squiggle.gif';

import '@styles/glitch.css';

const indexOptions = {
  blog: {
    link: '/blog',
    style: '',
    font: 'font-handwriting',
    gif: blogGif.src
  },
  projects: {
    link: '/projects',
    style: '',
    font: 'font-code',
    gif: codeGif.src
  },
}
---
<style>
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script define:vars={{indexOptions, theme, squiggleGif}}>
  const glitchEffect = "hero glitch layers deform".split(' ');
  document.addEventListener('DOMContentLoaded', () => {
    const SVGLogoElement = document.getElementById('header-logo');
    const menuElement = document.getElementById('index-menu');
    const glitchTextElement = document.getElementById('glitch-text');
    const listElements = [...menuElement.getElementsByTagName('li')];

    SVGLogoElement.style.visibility = 'hidden';
    glitchEffect.forEach(effect => {
      glitchTextElement.classList.add(effect);
    });
    glitchTextElement.classList.add('font-abstract')

    const previousResizeListener = window.onresize;
    document.addEventListener('resize', () => {
      previousResizeListener && previousResizeListener();
    });

    listElements.forEach(element => {
      const matchingFont = indexOptions[element.innerText.toLowerCase()].font;
      const splashGifImage = document.getElementById('splash-gif');
      const originalGifSource = splashGifImage.src;

      element.onmouseenter = () => {
        glitchTextElement.classList.remove('font-abstract')
        glitchTextElement.classList.add(matchingFont);
        splashGifImage.src = indexOptions[element.innerText.toLowerCase()].gif;
      };

      element.onmouseleave = () => {
        glitchTextElement.classList.remove(matchingFont);
        glitchTextElement.classList.add('font-abstract')
        splashGifImage.src = originalGifSource;
      };
    });
  });
</script>

<BasicPageLayout 
  title="Kamil Rybacki"
  style="flex flex-col justify-center items-center overflow-hidden"
>
  <div class="flex flex-row justify-between items-center my-auto w-full">
    <SplashDecoration/>
    <div class="flex flex-col gap-3 justify-end items-center w-fit mr-auto my-auto flex flex-col items-end z-1" id="menu-wrapper">
      <div class="flex flex-row mt-12">
        <div class="relative flex justify-end w-40 text-accent">
          <SVG src="images/logo" alt="Logo"/>
        </div>
        <h1 class="relative top-12 text-8xl font-body font-[700]">
          amil Rybacki
        </h1>
      </div>
      <div class="border-[1px] border-accent mb-4 mt-6 w-[105%] opacity-50"/>
      <h2 class="relative flex flex-row items-center text-4xl mt-2 mr-auto font-body font-[500] text-accent gap-4">
        <span class="my-auto py-auto">
          Figuring out
        </span>
        <span
          class="flex px-auto py-auto tracking-widest my-auto w-64"
          data-text="undefineds"
          id="glitch-text"
        >
          undefineds
      </span>
      </h2>
      <Menu
        options={indexOptions}
        style='h-36 relative flex flex-row-reverse gap-8 text-6xl font-bold mt-10 items-center justify-center'
        globalListStyle="relative bg-background my-auto z-99 transition-all duration-[500ms] ease-in-out hover:-translate-y-5 hover:cursor-pointer"
        id="index-menu"
      />
    </div>
  </div>
</BasicPageLayout>
