---
import '@styles/glitch.css';

import Menu from '@components/Menu.astro';
import SplashDecoration from '@components/SplashDecoration.astro';
import SVG from '@components/StyledSVG.astro';
import blogGif from '@images/blog.gif';
import codeGif from '@images/code.gif';
import squiggleGif from '@images/squiggle.gif';
import BasicPageLayout from '@layouts/BasicPageLayout.astro';
import { theme } from '@root/tailwind.config';

const indexOptions = {
  blog: {
    link: '/blog',
    style: '',
    font: 'font-handwriting',
    gif: blogGif.src
  },
  projects: {
    link: '/projects',
    style: '',
    font: 'font-code',
    gif: codeGif.src
  },
}
---
<style>
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script define:vars={{indexOptions, theme, squiggleGif}}>
  const glitchEffect = "hero glitch layers deform".split(' ');
  document.addEventListener('DOMContentLoaded', () => {
    const SVGLogoElement = document.getElementById('header-logo');
    const menuElement = document.getElementById('index-menu');
    const glitchTextElement = document.getElementById('glitch-text');
    const listElements = [...menuElement.getElementsByTagName('li')];

    SVGLogoElement.style.visibility = 'hidden';
    glitchEffect.forEach(effect => {
      glitchTextElement.classList.add(effect);
    });
    glitchTextElement.classList.add('font-abstract')

    const previousResizeListener = window.onresize;
    document.addEventListener('resize', () => {
      previousResizeListener && previousResizeListener();
    });

    listElements.forEach(element => {
      const matchingFont = indexOptions[element.innerText.toLowerCase()].font;
      const splashGifImage = document.getElementById('splash-gif');
      const originalGifSource = splashGifImage.src;

      element.onmouseenter = () => {
        glitchTextElement.classList.remove('font-abstract')
        glitchTextElement.classList.add(matchingFont);
        splashGifImage.src = indexOptions[element.innerText.toLowerCase()].gif;
      };

      element.onmouseleave = () => {
        glitchTextElement.classList.remove(matchingFont);
        glitchTextElement.classList.add('font-abstract')
        splashGifImage.src = originalGifSource;
      };
    });
  });
</script>

<BasicPageLayout 
  title="Kamil Rybacki"
  style="flex flex-col justify-center items-center overflow-hidden"
>
  <div class="my-auto flex flex-col-reverse items-center justify-center lg:w-full lg:flex-row lg:justify-around lg:py-12">
    <SplashDecoration
      className="grayscale invert"
    />
    <div class="z-1 m-auto mt-4 flex w-fit flex-col items-center justify-end gap-1 lg:mr-auto lg:gap-3" id="menu-wrapper">
      <div class="flex flex-row lg:mt-12">
        <div class="relative flex w-16 text-accent lg:w-40 lg:justify-end">
          <SVG src="images/logo" alt="Logo"/>
        </div>
        <h1 class="relative top-2 font-body text-[2.25rem] font-bold lg:top-12 lg:text-8xl">
          amil Rybacki
        </h1>
      </div>
      <div class="my-3 w-[105%] border-[1px] border-accent opacity-50 lg:mb-4 lg:mt-6"/>
      <h2 class="relative mx-auto flex flex-row items-center gap-3 font-body text-xl font-medium text-accent lg:ml-0 lg:mr-auto lg:mt-2 lg:gap-4 lg:text-4xl">
        <span class="py-auto my-auto">
          Figuring out
        </span>
        <span
          class="px-auto py-auto my-auto flex tracking-widest lg:w-64"
          data-text="undefineds"
          id="glitch-text"
        >
          undefineds
        </span>
      </h2>
      <Menu
        options={indexOptions}
        style='lg:h-36 relative flex flex-row-reverse gap-8 lg:gap-12 text-3xl lg:text-6xl font-bold mt-6 lg:mt-10 items-center justify-center'
        globalListStyle="relative bg-background my-auto z-99 transition-all duration-[500ms] ease-in-out hover:-translate-y-2 lg:hover:-translate-y-5 hover:cursor-pointer"
        id="index-menu"
      />
    </div>
  </div>
</BasicPageLayout>
