---
import SVG from '@components/StyledSVG.astro';
import Contacts from '@components/Contacts.astro';

import * as Style from './style';
---
<div class="flex flex-col">
  <Style.Header>
    <Style.LogoWrapper>
      <Style.Logo href="/">
        <SVG
          src="images/logo"
          alt="Logo"
          class="glowing"
        />
      </Style.Logo>
      <Style.LogoTitle>
        <span class="glowing">
          amil Rybacki
        </span>
      </Style.LogoTitle>
    </Style.LogoWrapper>
    <Contacts/>
  </Style.Header>
  <Style.HeaderUnderline/>
</div>