---
import SVG from '@components/StyledSVG.astro';
import Contacts from '@components/Contacts.astro';

import * as Style from './style';
---
<div class="flex flex-col" id="header">
  <Style.Header>
    <Style.LogoWrapper
      href="/"
    >
      <Style.Logo>
        <SVG
          src="images/logo"
          alt="Logo"
        />
      </Style.Logo>
      <Style.LogoTitle>
        <span>
          {
            'amil Rybacki'
              .split('')
              .map((letter, index) => {
                  return <span>{letter}</span>
                }
              )
          }
        </span>
      </Style.LogoTitle>
    </Style.LogoWrapper>
    <Contacts/>
  </Style.Header>
</div>