---
import SVG from '@components/StyledSVG.astro';
import Contacts from '@components/Contacts.astro';

import * as Style from './style';
---
<div class="flex flex-col" id="header">
  <Style.Header>
    <Style.Logo href="/" id="header-logo">
      <SVG src="images/logo" alt="Logo"/>
    </Style.Logo>
    <Contacts/>
  </Style.Header>
</div>