---
import SVG from '@components/StyledSVG.astro';
const { icon, url, size } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={icon}
>
  <SVG
    src={`badges/${icon}`}
    width={size || 40}
    height={size || 40}
  />
</a>
