---
---
<footer>
  <div class="align-center fixed bottom-0 mb-2 flex flex-row justify-between lg:h-10" id="footer">
    <div class="row">
        <div class="text-sm text-accent opacity-25">
            <p>© {new Date().getFullYear()} - Kamil Rybacki</p>
        </div>
    </div>
  </div>
</footer>