---
---
<footer>
  <div class="fixed bottom-0 mb-2 flex justify-content align-center h-10" id="footer">
      <div class="row">
          <div class="text-accent text-sm opacity-25">
              <p>© {new Date().getFullYear()} - Kamil Rybacki</p>
          </div>
      </div>
  </div>
</footer>