---
import SVG from '@components/StyledSVG.astro';
import Contacts from '@components/Contacts.astro';
---
<div class="flex flex-col" id="header">
  <header class="flex items-center lg:px-12 pb-2 text-accent">
    <a 
      href="/"
      id="header-logo"
      class="flex justify-center h-14 w-14 text-accent"
    >
      <SVG src="images/logo" alt="Logo"/>
    </a>
    <Contacts/>
  </header>
</div>