---
---
<footer>
  <div class="fixed bottom-0 mb-2 flex flex-row justify-between align-center lg:h-10" id="footer">
    <div class="row">
        <div class="text-accent text-sm opacity-25">
            <p>© {new Date().getFullYear()} - Kamil Rybacki</p>
        </div>
    </div>
  </div>
</footer>