---
import abstractGif from '@images/squiggle.gif';
import { colorsRGB } from '@utils/theming';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---
<style>
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script define:vars={{colorsRGB}}>
  document.addEventListener('DOMContentLoaded', () => {
    const gif = document.getElementById('splash-gif');
    gif.style.transform = 'rotate(-4deg)';
    gif.style.width = '40rem';
  });
</script>

<div
  class="mx-auto my-12 w-4/5 lg:my-auto lg:ml-auto lg:mr-0 lg:w-auto"
>
  <img 
    src={abstractGif.src} 
    alt='splash'
    id="splash-gif"
    class={className}
  />
</div>
