# Core modules
jupyterlab-open-url-parameter
jupyterlite-core==0.3.0
jupyterlab~=4.1.6
notebook~=7.1.2

# Kernels 
jupyterlite-pyodide-kernel==0.3.2
jupyterlite-javascript-kernel==0.3.0

# File viewer
jupyterlab-fasta>=3.3.0,<4

# Theme
jupyterlab-night

ipywidgets>=8.1.1,<9
ipyevents>=2.0.1
ipympl>=0.8.2
ipycanvas>=0.9.1
ipyleaflet

# Python: plotting libraries
plotly>=5,<6
bqplot

# Python: Data science libraries
pandas
numpy
scipy
sympy
polars
