# Core modules
jupyterlite-core
jupyterlab
jupyterlab-open-url-parameter

# Kernels 
jupyterlite-pyodide-kernel
jupyterlite-javascript-kernel

# File viewer
jupyterlab-fasta

# Theme
jupyterlab-night

# Widgets
ipywidgets
ipyevents
ipympl
ipycanvas
ipyleaflet

# Python: plotting libraries
plotly
bqplotes
j

# Python: Data science libraries
pandas
numpy
scipy
sympy
