---
import SVG from '@components/StyledSVG.astro';
import { colorsRGB } from '@utils/theming';

import abstractGif from '@images/squiggle.gif';
---
<style>
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script define:vars={{colorsRGB}}>
  document.addEventListener('DOMContentLoaded', () => {
    const gif = document.getElementById('splash-gif');
    gif.style.transform = 'rotate(-4deg)';
    gif.style.width = '40rem';
  });
</script>

<div
  class="mx-auto my-auto neon-glow"
>
  <img 
    src={abstractGif.src} 
    alt='splash'
    id="splash-gif"
    class="invert grayscale"
  />
</div>
