---
import SVG from '@components/StyledSVG.astro';
import { colorsRGB } from '@utils/theming';

import abstractGif from '@images/squiggle.gif';
---
<style>
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script define:vars={{colorsRGB}}>
  document.addEventListener('DOMContentLoaded', () => {
    const gif = document.getElementById('splash-gif');
    const svg = document.getElementById('splash-svg');
    svg.style.width = '100%';
    gif.style.transform = 'rotate(-4deg)';
  });
</script>

<div 
  id="splash" 
  class="flex flex-row relative mx-auto"
>
  <SVG 
    src='images/splash'
    width=600
    height=600
    id="splash-svg"
  />
  <div
    class="absolute top-[30%] left-[0%] w-60"
  >
    <img 
      src={abstractGif.src} 
      alt='splash'
      id="splash-gif"
      class="invert grayscale"
    />
  </div>
</div>
