---
import SVG from '@components/StyledSVG.astro';
import { colorsRGB } from '@utils/theming';

import abstractGif from '@images/abstract.gif';
---
<style>
  @keyframes rotate {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    50% {
      opacity: 0.5;
      transform: rotate(180deg);
    }
    100% {
      opacity: 1;
      transform: rotate(360deg);
    }
  }
</style>
<script define:vars={{colorsRGB}}>
  document.addEventListener('DOMContentLoaded', () => {
    const gif = document.getElementById('splash-gif');
    gif.style.animation = 'rotate';
    gif.style.animationDuration = '20s';
    gif.style.animationIterationCount = 'infinite';
    gif.style.animationTimingFunction = 'linear';
    gif.style.transformOrigin = 'center';
  });
</script>

<div
  class='text-glow'
  id="splash"
>
  <SVG 
    src='images/splash'
    width=600
    height=600
  />
  <img 
    src={abstractGif.src} 
    alt='splash'
    width=130
    class="absolute top-[32%] left-[9%] z-[-999] rotate-[-5deg]"
    id="splash-gif"
  />
</div>
